<div class="container p-5">
  <h2 class="text-center mb-3">Edit <%= resource_name.to_s.humanize %></h2>
  <div class="w-50 bg-white p-3 registration-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :role, collection: User::ROLES %>
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>


      <div class="form-actions d-flex">
        <%= f.button :submit, "Update", class:"btn default-btn mb-4 justify-content-center align-items-center mx-auto w-25" %>
      </div>
    <% end %>

    <%= link_to "Back", :back, class:"default-btn p-2 text-decoration-none text-dark mb-4 w-25 text-center" %>

    <div class="text-center mb-3">
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"text-decoration-none text-danger default-btn p-2 border-danger" %>
    </div>
  </div>
</div>
