<h1>Update Spa features</h1>

<%= simple_form_for @spa do |f| %>
  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field">
    <%= f.input :address %>
  </div>

  <div class="field">
    <%= f.input :price %>
  </div>

  <div class="field">
    <%= f.input :image, as: :file %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Go back', spas_path %>
