<div class="banner">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <% if @spas.any? %>
      <% @spas.first(5).each_with_index do |spa, index| %>
        <% if spa.images.attached? %>
          <div class="carousel-item <%= 'active' if index.zero? %>" style="background-image: url(<%= url_for(spa.images.first) %>);">
            <div class="carousel-caption d-none d-md-block">
              <h5><%= spa.name %></h5>
              <p><%= spa.address %></p>
              <%= link_to 'Book Now', new_spa_booking_path(spa), class: 'btn default-btn' %>
            </div>
          </div>
        <% else %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <p>No image for this spa</p>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>No spas found</p>
    <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="banner-content mt-5 p-2 text-center">
    <h2>Anywhere, Around the World</h2>
    <p class="fst-italic mt-4"> Discover experiences </p>
  </div>
</div>

<%# Dont move anything above this line! %>

<% if current_user.host? %>

  <div class="d-flex flex-column" data-controller="toggle-create-spa-form">
    <button class="btn default-btn mx-auto mb-4" data-action="click->toggle-create-spa-form#fire">Open up your Spa</button>
    <div class="registration-form w-25 mt-2 mb-3 p-4 d-none" data-toggle-create-spa-form-target="spa_form">
      <%= simple_form_for @spa, html: { multipart: true }, remote: true do |f| %>
        <div class="form-group mt-3">
          <%= f.input :name, label: false, placeholder: 'The Name of your Spa', class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.input :price, label: false, placeholder: 'Add a Price per session/day', class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.input :rating, label: false, placeholder: 'How many stars?', class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.input :address,
                      input_html: { class:"d-none", data: {address_autocomplete_target: "address"}},
                      wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV['MAPBOX_API_KEY']}},
                      label: false, placeholder: 'The Address' %>
        </div>

        <div class="form-group">
          <%= f.input :images, as: :file, input_html: { multiple: true }, label: false, placeholder: 'Add Photos' %>
        </div>

        <div class="form-group d-flex justify-content-center">
          <%= f.button :submit, class: 'btn default-btn' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= turbo_frame_tag 'spas', class: "d-flex justify-content-center flex-wrap" do %>
    <% @spas.each do |spa| %>
      <div class="col-lg-3 card m-5 item-animate">
        <div id="carouselExampleIndicators<%= spa.id %>" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% if spa.images.attached? %>
              <% spa.images.each_with_index do |image, index| %>
                <div class="carousel-item <%= 'active' if index.zero? %> card-img">
                  <%= image_tag image, class: 'd-block w-100' %>
                </div>
             <% end %>
            <% else %>
              <div class="carousel-item active">
                <div class="card-img" style="background-image: url(https://media.timeout.com/images/105596637/image.jpg)"></div>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators<%= spa.id %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= spa.id %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-info">
          <%= link_to spa.name, spa_path(spa), class:"text-dark text-decoration-none text-title", data: { turbo_frame: "_top" } %>
          <div class="card-location">
            <i class="fa-solid fa-location-pin" style="color: #000000;"></i> <p class="text-body"><%= spa.address %></p>
            <%= link_to "Book a session", new_spa_booking_path(spa), class:"btn default-btn mb-3" %>
          </div>
        </div>
        <div class="card-footer">
          <span class="text-title">$<%= spa.price %>/session</span>
          <div class="card-button">
            <% spa.rating.times do %>
              <i class="fa-solid fa-star" style="color: #ffea00;"></i>
            <% end %>
          </div>
      </div>
      </div>
    <% end %>
  <% end %>
  </div>

<% elsif current_user.guest? %>

  <div class="rowjustify-content-center">
    <%= turbo_frame_tag 'spas', class: "d-flex justify-content-center flex-wrap" do %>
    <% @spas.each do |spa| %>
      <div class="col-3 card m-5 item-animate">
        <div id="carouselExampleIndicators<%= spa.id %>" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% if spa.images.attached? %>
              <% spa.images.each_with_index do |image, index| %>
                <div class="carousel-item <%= 'active' if index.zero? %>">
                  <%= image_tag image, class: 'd-block w-100' %>
                </div>
             <% end %>
            <% else %>
              <div class="carousel-item active">
                <div class="card-img" style="background-image: url(https://media.timeout.com/images/105596637/image.jpg)"></div>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators<%= spa.id %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= spa.id %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-info">
          <%= link_to spa.name, spa_path(spa), class:"text-dark text-decoration-none text-title", data: { turbo_frame: "_top" } %>
          <div class="card-location">
            <i class="fa-solid fa-location-pin" style="color: #000000;"></i> <p class="text-body"><%= spa.address %></p>
            <%= link_to "Book a session", new_spa_booking_path(spa), class:"btn default-btn mb-3" %>
          </div>
        </div>
        <div class="card-footer">
          <span class="text-title">$<%= spa.price %> /session</span>
          <div class="card-button">
            <% spa.rating.times do %>
              <i class="fa-solid fa-star" style="color: #ffea00;"></i>
            <% end %>
          </div>
      </div>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>


<h1 class="text-center mt-3">Explore the Globe for Spas Information</h1>
<div class="container rounded">
  <div style="width: 100%; height: 800px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
