<div class="container mt-3 text-start mb-3">
  <div class="card-host text-center">
    <h1> Become a Host, add your Spa </h1>
  </div>

  <div class="registration-form mt-2 mb-3" >
    <%= simple_form_for @spa, html: { multipart: true } do |f| %>
      <div class="form-group mt-3">
        <%= f.input_field :name, label: false, placeholder: 'The Name of your Spa', class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.input_field :address, label: false, placeholder: 'The Address', class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.input_field :price, label: false, placeholder: 'Add a Price per session/day', class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.input_field :rating, label: false, placeholder: 'How many stars?', class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.input :images, as: :file, input_html: { multiple: true }, label: false, placeholder: 'Add Photos' %>
      </div>
      <div class="form-group d-flex justify-content-center mb-5">
        <%= f.button :submit, class: 'btn default-btn' %>
      </div>
    <% end %>
  </div>
</div>
