<div class="new-spa-container">
<%= cl_image_tag(@spa.image.key) %>
<ul class="styled-list">
<li> Name:  <%= @spa.name %> </li>
  <li> Address: <%= @spa.address %>.</li>
  <li> Rating: <%= @spa.rating %> Stars </li>
  <li> Price: <%= @spa.price %> $ </li>
</ul>
 <div class="btn-group mt-3">
  <%= link_to 'Edit Spa', edit_spa_path(@spa), class: 'btn default-btn' %>
  <%= link_to 'Delete this Spa?', spas_path(@spa), method: :delete, data: { confirm: 'Sure? Your Spa will be completely erased' }, class: 'btn default-btn' %>
</div>
</div>
