<div class="new-spa-container mt-3 mb-5">
  <% if @spa.images.count > 1 %>
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= @spa.images.first.url %>" class="d-block w-100" alt="...">
    </div>
    <% @spa.images[1..-1].each do |image| %>
    <div class="carousel-item">
      <img src="<%= image.url %>" class="d-block w-100" alt="...">
    </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <% end %>
  <ul class="styled-list">
  <li>  <%= @spa.name %> </li>
    <li> <%= @spa.address %>.</li>
    <div class="d-flex justify-content-center">
      <% @spa.rating.times do %>
                <i class="fa-solid fa-star" style="color: #ffea00;"></i>
              <% end %>
    </div>
    <li> $<%= @spa.price %> / session </li>
  </ul>
  <% if current_user.host? %>
  <div class=" d-flex justify-content-center mt-3">
    <%= link_to 'Edit Spa', edit_spa_path(@spa), class: 'btn default-btn me-5' %>
    <%= link_to 'Close Spa', spa_path(@spa),  data: { turbo_method: :delete, turbo_confirm: 'Are you Sure' }, class: 'btn default-btn' %>
  </div>
  <% end %>
</div>

<div class="container rounded-lg mt-5 mb-5">
  <iframe
    width="100%"
    height="550"
    style="border:0"
    loading="lazy"
    allowfullscreen
    src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&q=<%= @spa.address %>">
  </iframe>
</div>
